<%- include('../partials/header') %>

<h2>Enter a New Flight</h2>
<form action="/flights" method="POST">
  <label class="form-label">Airline:
    <input type="text" name="airline" class="form-control">
  </label><br>
  <label class="form-label">Airport: 
    <select name="airport" class="form-select">
      <option value="AUS">AUS</option>
      <option value="DFW">DFW</option>
      <option value="DEN">DEN</option>
      <option value="LAX">LAX</option>
      <option value="SEN">SEN</option>
      <option value="IAH" selected>IAH</option>
      <option value="HKG">HKG</option>
    </select>
  </label><br>
  <label class="form-label">Flight Number:
    <input type="number" name="flightNo" class="form-control">
  </label><br>
  <label class="form-label">Departs: 
    <input type="datetime-local" name="departs" value=<%= departsDate %> class="form-control">
  </label><br>
  <button type="submit" class="btn btn-primary mb-3">Add Flight</button>
</form>
<p><%= errorMsg %></p>

<%- include('../partials/footer') %>
